# IntelliJ
workspace.xml
tasks.xml
usage.statistics.xml
dictionaries
shelf
contentModel.xml
dataSources/
dataSources.local.xml
sqlDataSources.xml
dynamic.xml
uiDesigner.xml
dbnavigator.xml
gradle.xml
